.card {
  width: 200px;
  height: 100px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: white;
  color: black;
  position: absolute;
  transition: all 400ms ease-in-out;
}

/* ## Left cards */

/* .card-1-left {
  rotate: -4deg;
  z-index: 1;
}

.card-2-left {
  rotate: -3deg;
  translate: 7px -10px;
  z-index: 2;
}

.card-3-left {
  rotate: -2deg;
  translate: 12px -20px;
  z-index: 3;
}

.card-4-left {
  rotate: -1deg;
  translate: 16px -30px;
  z-index: 4;
}

.card-5-left {
  rotate: 0deg;
  translate: 17px -40px;
  z-index: 5;
}

.card-6-left {
  rotate: 1deg;
  translate: 17px -50px;
  z-index: 6;
}

.card-7-left {
  rotate: 2deg;
  translate: 15px -60px;
  z-index: 7;
}

.card-8-left {
  rotate: 3deg;
  translate: 12px -70px;
  z-index: 8;
}

.card-9-left {
  rotate: 4deg;
  translate: 7px -80px;
  z-index: 9;
}

.card-10-left {
  rotate: 5deg;
  translate: 0 -90px;
  z-index: 10;
} */

/* ### Right cards */

/* .card-1-right {
  rotate: 4deg;
  z-index: 1;
}

.card-2-right {
  rotate: 3deg;
  translate: -7px -10px;
  z-index: 2;
}

.card-3-right {
  rotate: 2deg;
  translate: -12px -20px;
  z-index: 3;
}

.card-4-right {
  rotate: 1deg;
  translate: -16px -30px;
  z-index: 4;
}

.card-5-right {
  rotate: 0deg;
  translate: -17px -40px;
  z-index: 5;
}

.card-6-right {
  rotate: -1deg;
  translate: -17px -50px;
  z-index: 6;
}

.card-7-right {
  rotate: -2deg;
  translate: -15px -60px;
  z-index: 7;
}

.card-8-right {
  rotate: -3deg;
  translate: -12px -70px;
  z-index: 8;
}

.card-9-right {
  rotate: -4deg;
  translate: -7px -80px;
  z-index: 9;
}

.card-10-right {
  rotate: -5deg;
  translate: 0 -90px;
  z-index: 10;
} */
