.card {
  width: 100px;
  height: 200px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.card:hover {
  cursor: pointer;
  scale: 1.02;
  transition: 200ms ease-in-out scale;
}

.card-1 {
  transform: rotate(-4deg);
  z-index: 1;
}

.card-2 {
  transform: rotate(-3deg) translate(-10px, -5px);
  z-index: 2;
}

.card-3 {
  transform: rotate(-2deg) translate(-20px, -10px);
  z-index: 3;
}

.card-4 {
  transform: rotate(-1deg) translate(-30px, -13px);
  z-index: 4;
}

.card-5 {
  transform: rotate(0deg) translate(-40px, -13px);
  z-index: 5;
}

.card-6 {
  transform: rotate(1deg) translate(-50px, -12px);
  z-index: 6;
}

.card-7 {
  transform: rotate(2deg) translate(-60px, -9px);
  z-index: 7;
}

.card-8 {
  transform: rotate(3deg) translate(-70px, -5px);
  z-index: 8;
}

.card-9 {
  transform: rotate(4deg) translate(-80px, 2px);
  z-index: 9;
}

.card-10 {
  transform: rotate(5deg) translate(-90px, 12px);
  z-index: 10;
}
