.card {
  width: 100px;
  height: 200px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: white;
  color: black;
  position: absolute;
  transition: all 200ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  scale: 1.05;
}
