.cards {
  position: relative;
  display: flex;
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  margin: 0 auto 50px auto;
  min-height: 250px;
  align-items: flex-end;
  justify-content: center;
  align-self: end;
}

.hiddenCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
