.hidden-left {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-left: 50px;
  align-self: center;
  justify-content: center;
}

.hidden-right {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  margin-right: 250px;
  align-self: center;
  justify-content: center;
}
