.hidden-left {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-left: 15px;
}

.hidden-right {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: auto;
  margin-right: 15px;
}
